@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text">
    <h3 class>Professors</h3>
    <hr />
    <p>ProfessorsId</p>
    @foreach (var p in Model.Professors)
    {
        <p>@p.FirstName
            @p.LastName
        </p>
    }
</div>